
html, body {
  box-sizing: border-box;
}

body {
    margin-top: 125px;
}

/*NAVBAR */

.navbar-fixed-top .nav {
    padding: 15px 0;
}


.navbar-toggle {
   margin: 23px 0;
   margin-right: 15px;
}


.navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 80px;
  line-height: 80px;
}

.navbar-nav li a {
  padding-top: 0;
  padding-bottom:0;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #3d7;
    color: #FFFFFF;
}

/*JUMBOTRON IMG*/
.jumbotron {
    background: url("./mountain-yoga.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.push-spaces {
  height: 200px;
}

/*BUTTONS*/

.btn {
  margin: 2px;

}

#description {
  margin-top: 50px;
  height: 100px;
}

/*TAGLINE */
.tagline {
  font-family: 'Lustria', serif;
}


/*FOOTER*/

/*MEDIA QUIERIES */

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0;
    }

    .navbar-brand img {
        margin-top: 15px;
        margin-left: 10px;
    }
}
